<!--abot메뉴 내용 페이지-->
{% extends "base_erp.html" %}

{% block content %}
<center>
<h1>[GAYADATA GRP Release Note.]</h1>
<HR width="960px" size="3">
<h3>-OBT-</h3>
    <table width="800px" align="center">
        <tr><td>
            <li>2016.04.20.(수) GRP OBT V1.00</li>
        </td></tr>
    </table>
<HR width="960px" size="3">
<a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
<h3>-CBT</h3>
</a><div style="DISPLAY: none">
    <table width="800px" align="center">
        <tr><td>
            <li>2015.12.24.(목) GRP CBT V1.00</li>
            <li>2016.01.22.(금) GRP CBT V2.00</li>
            <li>2016.01.24.(일) GRP CBT V2.04(모든 정보 등록 가능)</li>
            <li>2016.01.25.(월) GRP CBT V2.10(DB개선 및 복구)</li>
            <li>2016.01.28.(목) GRP CBT V2.20(주문현황확인가능)</li>
            <li>2016.01.29.(금) GRP CBT V2.23(주문현황예외처리)</li>
            <li>2016.01.29.(금) GRP CBT V2.24(공지사항댓글기능추가)</li>
            <li>2016.02.02.(화) GRP CBT V2.27(DB개선)</li>
            <li>2016.02.03.(수) GRP CBT V2.30(사용된 자재 제외 처리)</li>
            <li>2016.02.03.(수) GRP CBT V2.30(제품현황확인가능)</li>
            <li>2016.02.03.(목) GRP CBT V2.32(자재현황확인가능)</li>
            <li>2016.02.03.(목) GRP CBT V2.32(하위메뉴분리)</li>
            <li>2016.02.15.(월) GRP CBT V2.35(제품현황에서 자재정보 데이터처리)</li>
            <li>2016.02.19.(금) GRP CBT V2.40(제품현황 에러 수정)</li>
            <li>2016.02.26.(금) GRP CBT V2.45(자재수량 중복 제거)</li>
            <li>2016.02.26.(금) GRP CBT V2.45(DB개선)</li>
            <li>2016.03.04.(금) GRP CBT V2.50(HA201_TP 제품 DB설계)</li>
            <li>2016.03.05.(토) GRP CBT V2.53(HA201_TP 제품 데이터 처리 로직 설계 및 적용)</li>
            <li>2016.03.05.(토) GRP CBT V2.54(HA201_TP 제품 DB 재설계)</li>
            <li>2016.03.06.(일) GRP CBT V2.58(HA201_TP 제품 DB 수정)</li>
            <li>2016.03.06.(일) GRP CBT V2.60(HA201_TP 제품 데이터 처리 로직 수정)</li>
            <li>2016.03.08.(화) GRP CBT V2.62(HA201_TP 제품 관계 처리 로직 수정)</li>
            <li>2016.03.09.(수) GRP CBT V2.65(HA201_TP 제품 현황 처리 로직 적용)</li>
            <li>2016.03.10.(목) GRP CBT V2.68(HA201_TP 자재 현황 처리 로직 적용)</li>
            <li>2016.03.10.(목) GRP CBT V2.70(User Model 커스터마이징)</li>
            <li>2016.03.13.(일) GRP CBT V2.80(User Model 커스터마이징 적용)</li>
            <li>2016.03.14.(월) GRP CBT V2.85(페이징 알고리즘 설계 및 적용)</li>
            <li>2016.03.15.(화) GRP CBT V2.87(자재동일P/N 일괄등록 로직 설계 및 적용)</li>
            <li>2016.03.16.(수) GRP CBT V2.88(자재동일P/N 일괄등록 테스트 및 에러 수정)</li>
            <li>2016.03.17.(목) GRP CBT V2.90(HA201_TP 자재 P/N 중복 시 단일 입력 가능 로직 설계 및 적용)</li>
            <li>2016.03.20.(일) GRP CBT V3.00(HA201_TP 자재 등록 중복 확인 로직 적용)</li>
            <li>2016.03.21.(월) GRP CBT V3.05(HA201_TP 자재 등록 테스트)</li>
            <li>2016.03.21.(월) GRP CBT V3.05(HA201_TP 현황 표시 확인)</li>
            <li>2016.03.21.(월) GRP CBT V3.05(페이징 알고리즘 수정)</li>
            <li>2016.03.23.(수) GRP CBT V3.10(파일 업로드 설계 및 적용)</li>
            <li>2016.03.23.(수) GRP CBT V3.10(파일 업로드 적용 및 테스트)</li>
            <li>2016.03.23.(수) GRP CBT V3.10(댓글 기능 적용 및 테스트)</li>
            <li>2016.04.01.(금) GRP CBT V4.00(DB 구조 변경 및 적용)</li>
            <li>2016.04.01.(금) GRP CBT V4.00(프로그래머블 DB 관계 설계 및 적용)</li>
            <li>2016.04.01.(금) GRP CBT V4.00(생산 현황 로직 변경 및 적용)</li>
            <li>2016.04.03.(일) GRP CBT V4.10(1차 제품 등록 테스트 완료)</li>
            <li>2016.04.04.(월) GRP CBT V4.10(2차 제품 생산 및 출고 등록 테스트)</li>
            <li>2016.04.05.(화) GRP CBT V4.20(생산과정 등록시 중복 목록 제거 적용)</li>
            <li>2016.04.05.(화) GRP CBT V4.20(제품 사용 중 표시 적용)</li>
            <li>2016.04.05.(화) GRP CBT V4.20(제품 등록 시 자재 S/N 확인 로직 적용)</li>
            <li>2016.04.06.(화) GRP CBT V4.25(제품 추가 시 기존 로직과 연동 로직 적용)</li>
            <li>2016.04.10.(일) GRP CBT V4.30(제품을 주문에 할당 시 할당된 제품 제외 로직 적용)</li>
            <li>2016.04.10.(일) GRP CBT V4.40(3차 최종 등록 테스트 완료)</li>
            <li>2016.04.15.(금) GRP CBT V4.40(4차 사용자 테스트)</li>
            <li>2016.04.18.(월) GRP CBT V4.50(최종 사용 버전 릴리즈)</li>
        </td></tr>
    </table>
</div>
<h2>모두 직원 여러분 덕분입니다.</h2>
<h2>감사합니다.</h2>
{% endblock content %}
