{% extends "base_erp.html" %}

{% block content %}
<center>
<table>
    <tr>
        <td width="100px"></td>
        <td width="760px" align="center"><h2>GAYADATA 자재</h2></td>
        <td width="100px" align="right" valign="bottom"><a href="/erp/mgmt/write/mtr.html">Write</a></td>
    </tr>
</table>
<table class="type02">
    <thead>
    <tr>
        <th style="width:60px;" scope="cols">번호</th>
        <th style="width:150px;" scope="cols">자재구분</th>
        <th style="width:350px;" scope="cols">자재명</th>
        <th style="width:100px;" scope="cols">자재수량</th>
        <th style="width:150px;" scope="cols">자재구입처</th>
        <th style="width:150px;" scope="cols">보관장소</th>
    </tr>
    </thead>
    <tbody>
    {% if gayamtr %}
        {% for mtr in gayamtr %}
            <tr>
                <td>{{mtr.id}}</td>
                <td>{{mtr.mtr_class}}</td>
                <td><a href="/erp/mgmt/read/mtr_read/{{mtr.id}}">{{mtr.mtr_name}}</td>
                <td>{{mtr.mtr_total}}</td>
                <td>{{mtr.mtr_purchase}}</td>
                <td>{{mtr.mtr_repository}}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">No data...</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<center>
{% if total_page > 1 %}
    {% if prev_page %}
        <a href="/erp/mgmt/mtr/{{prev_page}}">이전 </a>
    {% endif %}
    {% for p in page_list %}
        {% if current_page == p %}
            <a href="/erp/mgmt/mtr/{{p}}"><font size="5"><strong>{{p}}</strong></font></a>,
        {% else %}
            <a href="/erp/mgmt/mtr/{{p}}">{{p}}</a>,
        {% endif %}
    {% endfor %}
        {% if current_page == total_page %}
            ... <a href="/erp/mgmt/mtr/{{total_page}}"><font size="5"><strong>{{total_page}}</strong></font></a>
        {% else %}
            ... <a href="/erp/mgmt/mtr/{{total_page}}">{{total_page}}</a>
        {% endif %}
    {% if next_page %}
        <a href="/erp/mgmt/mtr/{{next_page}}"> 다음</a>
    {% endif %}
{% endif %}
{% endblock content %}
