{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA 제품S/N</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/mgmt/modify/psn/">{% csrf_token %}
            <tr>
                <th scope="row">제품</th>
                <td>
                    <select name="psn_pro" id="psn_pro">
                        {% for pro in gayapro %}
                        <option value="{{pro.id}}">{{pro.pro_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">GAYA담당자</th>
                <td>
                    <select name="psn_emp" id="psn_emp">
                        {% for emp in gayaemp %}
                        <option value="{{emp.id}}">{{emp.emp_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">제품S/N</th>
                <td><input type="text" id="psn_sn" name="psn_sn" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">제품상태</th>
                <td><input type="radio" value="0" id="psn_state" name="psn_state" />사용가능</td>
                <td><input type="radio" value="1" id="psn_state" name="psn_state" />사용불가</td>
            </tr>
            <tr>
                <th scope="row">비고</th>
                <td><textarea id="psn_note" name="psn_note" cols="100" rows="10" ></textarea></td>
            </tr>
            <tr>
                <td colspan=2><input type="submit" value="등록" /></td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
