{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA 고객</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">고객명</th>
            <td>{{current_entry.cus_name}}</td>
        </tr>
        <tr>
            <th scope="row">고객구분</th>
            <td>{{current_entry.cus_section}}</td>
        </tr>
        <tr>
            <th scope="row">고객담당자</th>
            <td>{{current_entry.cus_rsps}}</td>
        </tr>
        <tr>
            <th scope="row">대표전화</th>
            <td>{{current_entry.cus_phone}}</td>
        </tr>
        <tr>
            <th scope="row">담당전화</th>
            <td>{{current_entry.cus_rphone}}</td>
        </tr>
        <tr>
            <th scope="row">고객E-Mail</th>
            <td>{{current_entry.cus_email}}</td>
        </tr>
        <tr>
            <th scope="row">고객주소</th>
            <td>{{current_entry.cus_address}}</td>
        </tr>
        <tr>
            <th scope="row">GAYA담당자</th>
            <td>{{current_entry.cus_emp.emp_name}}</td>
        </tr>
        <tr>
            <th scope="row">비고</th>
            <td>{{current_entry.cus_note|linebreaks}}</td>
        </tr>
    </tbody>
</table>
<ul>
    {% if prev_entry %}
        <a href="/erp/mgmt/read/cus_read/{{prev_entry.id}}">이전 글 ()</a>
    {% endif %}

    {% if next_entry %}
        <a href="/erp/mgmt/read/cus_read/{{next_entry.id}}">다음 글 ()</a>
    {% endif %}
</ul>
{% endblock content %}
