{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA 주문</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">주문명</th>
            <td>{{current_entry.ord_title}}</td>
        </tr>
        <tr>
            <th scope="row">거래번호</th>
            <td>{{current_entry.ord_ponum}}</td>
        </tr>
        <tr>
            <th scope="row">주문제품</th>
            <td>{{current_entry.ord_pro.pro_name}}</td>
        </tr>
        <tr>
            <th scope="row">주문고객</th>
            <td>{{current_entry.ord_cus.cus_name}}</td>
        </tr>
        <tr>
            <th scope="row">GAYA담당자</th>
            <td>{{current_entry.ord_emp.emp_name}}</td>
        </tr>
        <tr>
            <th scope="row">주문수량</th>
            <td>{{current_entry.ord_total}}</td>
        </tr>
        <tr>
            <th scope="row">주문OS</th>
            <td>{{current_entry.ord_os}}</td>
        </tr>
        <tr>
            <th scope="row">주문날짜</th>
            <td>{{current_entry.ord_orderday}}</td>
        </tr>
        <tr>
            <th scope="row">완료날짜</th>
            <td>{{current_entry.ord_delivery}}</td>
        </tr>
        <tr>
            <th scope="row">보증날짜</th>
            <td>{{current_entry.ord_warranty}}</td>
        </tr>
        <tr>
            <th scope="row">비고</th>
            <td>{{current_entry.ord_note|linebreaks}}</td>
        </tr>
    </tbody>
</table>
<ul>
    {% if prev_entry %}
        <a href="/erp/mgmt/read/ord_read/{{prev_entry.id}}">이전 글 ()</a>
    {% endif %}

    {% if next_entry %}
        <a href="/erp/mgmt/read/ord_read/{{next_entry.id}}">다음 글 ()</a>
    {% endif %}
</ul>
{% endblock content %}
