{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA Dev</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/support/modify/std/">{% csrf_token %}
            <tr>
                <th scope="row">제목</th>
                <td><input type="text" id="std_title" name="std_title" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td><input type="text" id="std_name" name="std_name" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">비밀번호</th>
                <td><input type="password" id="std_pw" name="std_pw" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">내용</th>
                <td><textarea id="std_contents" name="std_contents" cols="100" rows="10" ></textarea></td>
            </tr>
            <tr>
                <td colspan=2><input type="submit" value="등록" /></td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
