{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA Storage</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/support/modify/stt/">{% csrf_token %}
            <tr>
                <th scope="row">제목</th>
                <td><input type="text" id="stt_title" name="stt_title" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td><input type="text" id="stt_name" name="stt_name" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">비밀번호</th>
                <td><input type="password" id="stt_pw" name="stt_pw" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">내용</th>
                <td><textarea id="stt_contents" name="stt_contents" cols="100" rows="10" ></textarea></td>
            </tr>
            <tr>
                <td colspan=2><input type="submit" value="등록" /></td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
