{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="post" action="/changepw/add/">{% csrf_token %}
            <center>
            <table class="type02">
                <thead>
                    <tr>
                        <th style="width:350px" scope="cols" colspan="2">GAYA ERP Change Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width:150px" scope="row">새로운 비밀번호</td>
                        <td style="width:200px">
                            <input type="password" id="emp_pw" name="emp_pw" size="30" maxlength="30" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px" scope="row">새로운 비밀번호 확인</td>
                        <td style="width:200px">
                            <input type="password" id="emp_pwch" name="emp_pwch" size="30" maxlength="30" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" id="emp_id" name="emp_id" value="{{user.id}}" />
            <input type="submit" value="변경" />
        </form>
    {% else %}
    <p>관리자에게 문의하세요.</p>
    {% endif %}
{% endblock content %}
