{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA Switch</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/support/add/stc/" enctype="multipart/form-data">{% csrf_token %}
            <tr>
                <th scope="row">제목</th>
                <td><input type="text" id="stc_title" name="stc_title" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td><input type="text" id="stc_name" name="stc_name" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">비밀번호</th>
                <td><input type="password" id="stc_pw" name="stc_pw" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">내용</th>
                <td><textarea id="stc_contents" name="stc_contents" cols="100" rows="10" ></textarea></td>
            </tr>
            <tr>
                <th scope="row">파일</th>
                <td><input type="file" id="stc_file01" name="stc_file01" /></br>
                    <input type="file" id="stc_file02" name="stc_file02" /></br>
                    <input type="file" id="stc_file03" name="stc_file03" /></br>
                    <input type="file" id="stc_file04" name="stc_file04" /></br>
                    <input type="file" id="stc_file05" name="stc_file05" /></td>
            </tr>
            <tr>
                <th scope="row">이미지</th>
                <td><input type="file" id="stc_img01" name="stc_img01" /></br>
                    <input type="file" id="stc_img02" name="stc_img02" /></br>
                    <input type="file" id="stc_img03" name="stc_img03" /></br>
                    <input type="file" id="stc_img04" name="stc_img04" /></br>
                    <input type="file" id="stc_img05" name="stc_img05" /></td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="hidden" id="stc_author" name="stc_author" value="{{user.emp_name}}" />
                    <input type="submit" value="등록" />
                </td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
