{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA Server</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/support/add/stv/" enctype="multipart/form-data">{% csrf_token %}
            <tr>
                <th scope="row">제목</th>
                <td><input type="text" id="stv_title" name="stv_title" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td><input type="text" id="stv_name" name="stv_name" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">비밀번호</th>
                <td><input type="password" id="stv_pw" name="stv_pw" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">내용</th>
                <td><textarea id="stv_contents" name="stv_contents" cols="100" rows="10" ></textarea></td>
            </tr>
            <tr>
                <th scope="row">파일</th>
                <td><input type="file" id="stv_file01" name="stv_file01" /></br>
                    <input type="file" id="stv_file02" name="stv_file02" /></br>
                    <input type="file" id="stv_file03" name="stv_file03" /></br>
                    <input type="file" id="stv_file04" name="stv_file04" /></br>
                    <input type="file" id="stv_file05" name="stv_file05" /></td>
            </tr>
            <tr>
                <th scope="row">이미지</th>
                <td><input type="file" id="stv_img01" name="stv_img01" /></br>
                    <input type="file" id="stv_img02" name="stv_img02" /></br>
                    <input type="file" id="stv_img03" name="stv_img03" /></br>
                    <input type="file" id="stv_img04" name="stv_img04" /></br>
                    <input type="file" id="stv_img05" name="stv_img05" /></td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="hidden" id="stv_author" name="stv_author" value="{{user.emp_name}}" />
                    <input type="submit" value="등록" />
                </td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
