{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<table class="type02">
    <thead>
        <tr>
            <th style="width:160px;" scope="cols">비밀번호 변경 완료</th>
        </tr>
    </thead>
    <tbody>
        <form method="post" action="/pwon_add/">{% csrf_token %}
            <tr>
                <td colspan=2>
                    <input type="hidden" id="emp_id" name="emp_id" value="{{user.id}}" />
                    <input type="submit" value="Home" />
                </td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock %}
