{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    {% if user.emp_pwon == 0 %}
        {% if form.errors %}
            <span>wrong password!</span>
        {% endif %}
        <form method="POST" action=".">{% csrf_token %}
            <center>
            <table class="type02">
                <thead>
                    <tr>
                        <th style="width:400px" scope="cols" colspan="2">GAYA ERP PASSWORD MANAGEMENT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width:180px" scope="row">{{ from.old_password.errors }}기존 비밀번호</td>
                        <td style="width:220px" align="center">{{ form.old_password }}</td>
                    </tr>
                    <tr>
                        <th style="width:180px" scope="row">{{ form.new_password1.errors }}새로운 비밀번호</td>
                        <td style="width:220px" align="center">{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <th style="width:180px" scope="row">{{ form.new_password2.errors }}새로운 비밀번호 확인</td>
                        <td style="width:220px" align="center">{{ form.new_password2 }}</td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="비밀번호 변경" />
        </form>
    {% else %}
        <center>
        <span>Already be changed.</span></br>
        <a href="/erp/index.html">Home</a>
    {% endif %}
{% endblock %}
