{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA 건의사항</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/social/add/scr/" enctype="multipart/form-data">{% csrf_token %}
            <tr>
                <th scope="row">제목</th>
                <td><input type="text" id="scr_title" name="scr_title" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td><input type="text" id="scr_name" name="scr_name" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">비밀번호</th>
                <td><input type="password" id="scr_pw" name="scr_pw" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">내용</th>
                <td><textarea id="scr_contents" name="scr_contents" cols="100" rows="10" ></textarea></td>
            </tr>
            <tr>
                <th scope="row">파일</th>
                <td><input type="file" id="scr_file01" name="scr_file01" /></br>
                    <input type="file" id="scr_file02" name="scr_file02" /></br>
                    <input type="file" id="scr_file03" name="scr_file03" /></td>
            </tr>
            <tr>
                <th scope="row">이미지</th>
                <td><input type="file" id="scr_img01" name="scr_img01" /></br>
                    <input type="file" id="scr_img02" name="scr_img02" /></br>
                    <input type="file" id="scr_img03" name="scr_img03" /></td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="hidden" id="scr_author" name="scr_author" value="{{user.emp_name}}" />
                    <input type="submit" value="등록" />
                </td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
