<!DOCTYPE html>
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>GAYADATA</title>
    <script type="text/javascript">
    <!--
    function Asr_Pro(id)
    {
    //  <tr> id로 값을 비교한다!
        if(id == "asr_ha201tp")
        {
            document.all["asr_ha201tp"].style.display = '';         // 보이게
            document.all["asr_another"].style.display = 'none';  // 안보이게
            document.all["asr_other"].style.display = 'none';  // 안보이게
        }else if(id == "asr_another"){
            document.all["asr_ha201tp"].style.display = 'none';         // 보이게
            document.all["asr_another"].style.display = '';  // 안보이게
            document.all["asr_other"].style.display = 'none';  // 안보이게
        }
        else
        {
            document.all["asr_ha201tp"].style.display = 'none';         // 보이게
            document.all["asr_another"].style.display = 'none';  // 안보이게
            document.all["asr_other"].style.display = '';  // 안보이게
        }
    }
    //-->
    </script>
</head>
<body>
    {% if user.is_authenticated %}
        <table width="960px" align="center">
            <tr>
                <td width="600px"><a href="/erp/index.html"><img src="{% static "gaya.gif" %}" /></a></td>
                <td width="360px" align="right" valign="bottom">안녕하세요. {{ user.emp_name }}님! (<a href="/logout">로그아웃</a>)</td>
            </tr>
        </table>
        <ul id="menu">
            <li><a href="/erp/index.html"><span>Home</span></a></li>
            <li>
                <a href="/erp/state/ord.html"><span>주문</span></a>
            </li>
            <li>
                <a href="/erp/state/pro.html"><span>제품</span></a>
            </li>
            <li>
                <a href="/erp/state/mtr.html"><span>자재</span></a>
            </li>
            <li>
                <a href="#"><span>등록</span></a>
                <ul>
                    <li><a href="/erp/state/write/asr01.html"><span>생산시작</span></a></li>
                    <li><a href="/erp/state/write/asr02.html"><span>조립완료</span></a></li>
                    <li><a href="/erp/state/write/isr.html"><span>검증완료</span></a></li>
                    <li><a href="/erp/state/write/pcr.html"><span>포장완료</span></a></li>
                    <li><a href="/erp/state/write/orr.html"><span>주문할당</span></a></li>
                    <li><a href="/erp/state/write/dlr.html"><span>출고완료</span></a></li>
                </ul>
            </li>
            <li>
                <a href="/erp/mgmt/main.html"><span>관리</span></a>
                <ul>
                    <li><a href="/erp/mgmt/emp.html"><span>직원</span></a></li>
                    <li><a href="/erp/mgmt/cus.html"><span>고객</span></a></li>
                    <li><a href="/erp/mgmt/ord.html"><span>주문</span></a></li>
                    <li><a href="/erp/mgmt/pro.html"><span>제품</span></a></li>
                    <li><a href="/erp/mgmt/mtr.html"><span>자재</span></a>
                        <ul>
                            <li><a href="/erp/mgmt/msn.html"><span>S/N</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/erp/support/main.html"><span>지원</span></a>
                <ul>
                    <li><a href="/erp/support/stl.html"><span>Linux</span></a></li>
                    <li><a href="/erp/support/stw.html"><span>Windows</span></a></li>
                    <li><a href="/erp/support/stv.html"><span>Server</span></a></li>
                    <li><a href="/erp/support/stt.html"><span>Storage</span></a></li>
                    <li><a href="/erp/support/stc.html"><span>Switch</span></a></li>
                    <li><a href="/erp/support/std.html"><span>Dev</span></a></li>
                </ul>
            </li>
            <li>
                <a href="/erp/social/main.html"><span>소통</span></a>
                <ul>
                    <li><a href="/erp/social/scc.html"><span>공지사항</span></a></li>
                    <li><a href="/erp/social/scf.html"><span>자유소통</span></a></li>
                    <li><a href="/erp/social/scr.html"><span>건의사항</span></a></li>
                    <li><a href="/erp/social/scq.html"><span>Q&A</span></a></li>
                </ul>
            </li>
            <li>
                <a href="/erp/about.html"><span>About</span></a>
            </li>
        </ul>
        <HR width="960px" size="3">
        <div id="content">
            <center>
            <h2>GAYADATA 생산시작</h2>
            <table class="type03">
                <thead>
                <tr>
                    <th style="width:160px;" scope="cols">항목</th>
                    <th style="width:800px;" scope="cols">내용</th>
                </tr>
                </thead>
                <tbody>
                    <form method="post" action="/erp/state/add/asr01/">{% csrf_token %}
                        <tr>
                            <th scope="row">제품명</th>
                            <td>
                                <input type="radio" value="HA201_TP" id="asr_pro" name="asr_pro" onclick="Asr_Pro('asr_ha201tp');" checked="checked" />HA201_TP
                                <input type="radio" value="Another" id="asr_pro" name="asr_pro" onclick="Asr_Pro('asr_another');" />Another
                                <input type="radio" value="Other" id="asr_pro" name="asr_pro" onclick="Asr_Pro('asr_other');" />Other
                            </td>
                        </tr>
                        <tr id="asr_ha201tp" style="display:'';">
                            <th scope="row">제품S/N</th>
                            <td>
                                <select name="asr_psn" id="asr_psn">
                                    {% for pro in ha201tp %}
                                    <option value="{{pro.pro_sn}}">{{pro.pro_sn}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr id="asr_another" style="display:none;">
                            <th scope="row">제품S/N</th>
                            <td>
                                <select name="asr_psn" id="asr_psn">
                                    {% for pro in ha201tp %}
                                    <option value="{{pro.pro_sn}}">{{pro.pro_sn}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr id="asr_other" style="display:none;">
                            <th scope="row">제품S/N</th>
                            <td>
                                <select name="asr_psn" id="asr_psn">
                                    {% for pro in ha201tp %}
                                    <option value="{{pro.pro_sn}}">{{pro.pro_sn}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">생산시작날짜</th>
                            <td><input type="date" id="asr_startday" name="asr_startday" size="100" maxlength="100" /></td>
                        </tr>
                        <tr>
                            <th scope="row">생산담당자</th>
                            <td>
                                <select name="asr_s_emp" id="asr_s_emp">
                                    {% for emp in gayaemp %}
                                    <option value="{{emp.id}}">{{emp.emp_name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">비고</th>
                            <td><textarea id="asr_note" name="asr_note" cols="100" rows="10" ></textarea></td>
                        </tr>
                        <tr>
                            <td colspan=2><input type="submit" value="생산시작" /></td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
        <footer>
            <img src="{% static "footer.gif" %}">
        </footer>
    {% else %}
        <span>sorry...</span>
    {% endif %}
</body>
</html>
