{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA 출고완료</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/state/add/dlr/">{% csrf_token %}
            <tr>
                <th scope="row">출고제품</th>
                <td>
                    <select name="dlr_orr" id="dlr_orr">
                        {% for orr in gayaorr %}
                        <option value="{{orr.id}}">{{orr.orr_ord.ord_title}} [ {{orr.orr_pcr.pcr_isr.isr_asr.asr_pro}} / {{orr.orr_pcr.pcr_isr.isr_asr.asr_psn}} ]</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">출고날짜</th>
                <td><input type="date" id="dlr_when" name="dlr_when" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">출고담당자</th>
                <td>
                    <select name="dlr_emp" id="dlr_emp">
                        {% for emp in gayaemp %}
                        <option value="{{emp.id}}">{{emp.emp_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">출고장소</th>
                <td><input type="text" id="dlr_where" name="dlr_where" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">출고방법</th>
                <td><input type="text" id="dlr_how" name="dlr_how" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">비고</th>
                <td><textarea id="dlr_note" name="dlr_note" cols="100" rows="10" ></textarea></td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="hidden" id="dlr_author" name="dlr_author" value="{{user.emp_name}}" />
                    <input type="submit" value="출고완료" />
                </td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
