{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA 생산</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/state/add/ftr02/">{% csrf_token %}
            <tr>
                <th scope="row">제품S/N</th>
                <td>
                    <select name="ftr_psn" id="ftr_psn">
                        {% for psn in ha201tp %}
                        <option value="{{psn.id}}">{{psn.ha201tp_pn}} | {{psn.ha201tp_sn}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">검증완료날짜</th>
                <td><input type="date" id="ftr_testday" name="ftr_testday" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">담당자</th>
                <td>
                    <select name="ftr_t_emp" id="ftr_t_emp">
                        {% for emp in gayaemp %}
                        <option value="{{emp.id}}">{{emp.emp_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan=2><input type="submit" value="검증완료" /></td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
