{% extends "base_erp.html" %}

{% block content %}
<center>
<h2>GAYADATA 포장완료</h2>
<table class="type03">
    <thead>
    <tr>
        <th style="width:160px;" scope="cols">항목</th>
        <th style="width:800px;" scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
        <form method="post" action="/erp/state/add/pcr/">{% csrf_token %}
            <tr>
                <th scope="row">제품S/N</th>
                <td>
                    <select name="pcr_isr" id="pcr_isr">
                        {% for isr in gayaisr %}
                        <option value="{{isr.id}}">{{isr.isr_asr.asr_pro}} [ {{isr.isr_asr.asr_psn}} ]</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">포장완료날짜</th>
                <td><input type="date" id="pcr_completeday" name="pcr_completeday" size="100" maxlength="100" /></td>
            </tr>
            <tr>
                <th scope="row">포장완료담당자</th>
                <td>
                    <select name="pcr_emp" id="pcr_emp">
                        {% for emp in gayaemp %}
                        <option value="{{emp.id}}">{{emp.emp_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">완료보고서</th>
                <td><input type="file" id="pcr_report" name="pcr_report" /></td>
            </tr>
            <tr>
                <th scope="row">비고</th>
                <td><textarea id="pcr_note" name="pcr_note" cols="100" rows="10" ></textarea></td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="hidden" id="pcr_author" name="pcr_author" value="{{user.emp_name}}" />
                    <input type="submit" value="포장완료" />
                </td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock content %}
